[build]
  command = "CI= npm install && npm run build:prod"
  publish = "dist"

# Production deployment (main branch)
[context.main]
  command = "CI= npm install && npm run build:prod"

# Staging deployment (stage branch)
[context.stage]
  command = "CI= npm install && npm run build:stage"

# Development deployment (dev branch)
[context.dev]
  command = "CI= npm install && npm run build:dev"

# Branch deployments
[context.branch-deploy]
  command = "CI= npm install && npm run build:stage"

# Deploy Preview context
[context.deploy-preview]
  command = "CI= npm install && npm run build:stage"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
